/* Modal Styles */
.export-button{
  height: 2.25rem;
  padding-left: 1rem /* 16px */;
  padding-right: 1rem /* 16px */;
  padding-top: 0.5rem /* 8px */;
  padding-bottom: 0.5rem /* 8px */;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  border-radius: 0.375rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  outline: 2px solid transparent;
  outline-offset: 2px;
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
  --tw-ring-color: hsl(var(--ring));
  pointer-events: fill;
  opacity: 5.5;
  border-width: 1px;
  border-color: hsl(var(--input));
  background-color: hsl(var(--background));
  --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  background-color: hsl(0, 0%, 87%);
  color: hsl(var(--accent-foreground));
}
  
  div.modal-btn {
    padding: 0.5rem;
    justify-content: space-between;
  }
  
  .modal-content {
    padding: 2rem;
  }
  
  .modal-footer {
    display: flex;
    justify-content: flex-end;
    gap: 0.75rem;
    margin-top: 1.5rem;
  }

  .add-byr-btn{
    height: 2.25rem;
    padding-left: 1rem /* 16px */;
    padding-right: 1rem /* 16px */;
    padding-top: 0.5rem /* 8px */;
    padding-bottom: 0.5rem /* 8px */;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    border-radius: 0.375rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    outline: 2px solid transparent;
    outline-offset: 2px;
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
    --tw-ring-color: hsl(var(--ring));
    pointer-events: fill;
    opacity: 5.5;
    border-width: 1px;
    border-color: hsl(var(--input));
    background-color: hsl(var(--background));
    --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    background-color: hsl(0, 0%, 87%);
    color: hsl(var(--accent-foreground));
  }

  .select-btn{
    display: flex;
    align-items: center;
    margin-left: 0.5rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: rgb(107, 114, 128);
    border-color: rgb(139, 139, 139);
    --tw-ring-offset-color: #ffffff;
    --tw-ring-color: rgb(147, 197, 253);
    --tw-ring-opacity: 0.5;
    height: 2.25rem;
    width: 100%;
    width: 80px;
    white-space: nowrap;
    border-radius: 0.375rem;
    border-width: 1px;
    background-color: transparent;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    box-shadow: var(--tw-shadow);
    outline: 2px solid transparent;
    outline-offset: 2px;
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
    opacity: 0.5;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    opacity: 0.5;
  }

  /* new css  */
  
  /* Clients Page */

.search-input {
  display: flex;
  align-items: center;
  margin-left: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: rgb(107, 114, 128);
  border-color: rgb(139, 139, 139);
  --tw-ring-offset-color: #ffffff;
  --tw-ring-color: rgb(147, 197, 253);
  --tw-ring-opacity: 0.5;
  height: 2.25rem;
  width: 100%;
  white-space: nowrap;
  border-radius: 1.375rem;
  border-width: 1px;
  background-color: transparent;
  padding: 0.25rem 0.95rem;
  padding-left: 2.5rem;
  --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  box-shadow: var(--tw-shadow);
  outline: 2px solid transparent;
  outline-offset: 2px;
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
  opacity: 0.5;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  opacity: 0.5;
  }
  
  .search-input:focus {
    box-shadow: 0 0 0 2px #3b82f6;
    border-color: transparent;
  }
  
  /* Modal */
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 50;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 50;
    backdrop-filter: blur(2px);
  }
  
  .modal-container {
    width: 100%;
    max-width: 600px;
    background: white;
    border-radius: 1rem;
    position: relative;
    animation: moldalFade 0.3s ease-out;
  }
  
  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid #e5e7eb;
  }
  
  .modal-title {
    font-size: 1.25rem;
    font-weight: 600;
  }
    
  .modal-footer {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    padding-top: 1rem;
  }
  
  .form-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .form-input {
    width: 100%;
    padding: 0.6rem;
    border: 1px solid #e5e7eb;
    border-radius: 0.375rem;
  }
  
  .form-input.error {
    border-color: #ef4444;
  }
  
  .error-message {
    color: #ef4444;
    font-size: 0.875rem;
  }
  
  .cancel-btn{
    height: 2.25rem;
    padding-left: 1rem /* 16px */;
    padding-right: 1rem /* 16px */;
    padding-top: 0.5rem /* 8px */;
    padding-bottom: 0.5rem /* 8px */;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    border-radius: 0.375rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    outline: 2px solid transparent;
    outline-offset: 2px;
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
    --tw-ring-color: hsl(var(--ring));
    pointer-events: fill;
    opacity: 5.5;
    border-width: 1px;
    border-color: hsl(var(--input));
    background-color: hsl(var(--background));
    --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    background-color: hsl(0, 0%, 87%);
    color: hsl(var(--accent-foreground));
  }

  .add-grw-btn {
    height: 2.25rem;
    padding-left: 1rem /* 16px */;
    padding-right: 1rem /* 16px */;
    padding-top: 0.5rem /* 8px */;
    padding-bottom: 0.5rem /* 8px */;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    border-radius: 0.375rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    outline: 2px solid transparent;
    outline-offset: 2px;
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
    --tw-ring-color: hsl(var(--ring));
    pointer-events: fill;
    opacity: 5.5;
    border-width: 1px;
    border-color: hsl(var(--input));
    background-color: hsl(var(--background));
    --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    background-color: hsl(0, 0%, 87%);
    color: hsl(var(--accent-foreground));
  }
  
  .modal-close-btn {
    height: 2.25rem;
    position:relative;
    padding-left: 1rem /* 16px */;
    padding-right: 1rem /* 16px */;
    padding-top: 0.5rem /* 8px */;
    padding-bottom: 0.5rem /* 8px */;
    display: inline-flex;
    align-items: center;
    justify-content:end;
    white-space: nowrap;
    border-radius: 0.375rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    outline: 2px solid transparent;
    outline-offset: 2px;
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
    --tw-ring-color: hsl(var(--ring));
    pointer-events: fill;
    opacity: 5.5;
    border-width: 1px;
    border-color: hsl(var(--input));
    background-color: hsl(var(--background));
    --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    background-color: hsl(0, 0%, 87%);
    color: hsl(var(--accent-foreground));
  }

  .clients-container {
    padding: 1.5rem;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
  }
  
  .page-title {
    font-size: 1.875rem;
    font-weight: 600;
    color: #1a1a1a;
  }
  
  .add-client {
    height: 2.25rem;
    padding-left: 1rem /* 16px */;
    padding-right: 1rem /* 16px */;
    padding-top: 0.5rem /* 8px */;
    padding-bottom: 0.5rem /* 8px */;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    border-radius: 0.375rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    outline: 2px solid transparent;
    outline-offset: 2px;
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
    --tw-ring-color: hsl(var(--ring));
    pointer-events: fill;
    opacity: 5.5;
    border-width: 1px;
    border-color: hsl(var(--input));
    background-color: hsl(var(--background));
    --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    background-color: hsl(0, 0%, 87%);
    color: hsl(var(--accent-foreground));
  }
  
  .search-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    gap: 2.5rem;
  }
  
  .entries-selector {
    position:initial;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    width: 170px;
  }
  
  .search-container {
    position:relative;
    width: 300px;
    gap: 0.9rem;
    border-color: hsl(var(--input));
  }
  
  .search-icon {
    position: absolute;
    left: 1.25rem;
    top: 0.95rem;
    height: 1rem;
    width: 1rem;
    color: #9ca3af;
  }

  .show-btn{
    font-size: 0.875rem /* 14px */;
    line-height: 1.25rem /* 20px */;
    --tw-text-opacity: 1;
    color: rgb(107 114 128 / var(--tw-text-opacity)) /* #6b7280 */;
  }
  
  .table-container {
    overflow-x: auto;
    margin-top: 1rem;
  }
  
  .clients-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
  }
  
  .clients-table th,
  .clients-table td {
    border: 1px solid #ddd;
    padding: 0.75rem;
    text-align: left;
  }
  
  .clients-table th {
    background-color: #f9fafb;
    padding: 0.75rem;
    text-align: left;
    font-weight: 600;
    color: #374151;
    border-bottom: 1px solid #e5e7eb;
  }
  
  .table-row {
    border-bottom: 1px solid #e5e7eb;
  }
  
  .table-cell {
    padding: 0.75rem;
    color: #374151;
  }

  .table-action-cell {
    padding: 0.75rem;
    text-align: center;
  }

   /* Pagination Styles */
  .pagination-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    border-top: 1px solid #5b5c5f;
  }

  .pagination-info {
    color: #6b7280;
    font-size: 0.875rem;
  }
  
  .pagination-buttons {
    display: flex;
    gap: 0.5rem;
  }

  /* Empty State */
  .empty-state {
    margin-top: 1rem;
    text-align: center;
    padding: 2rem;
    background-color: #f9fafb;
    border: 1px dashed #e5e7eb;
    border-radius: 0.5rem;
  }

  /* Animations */
  @keyframes modalFade {
    from {
      opacity: 0;
      transform: scale(0.95);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
  
  /* Responsive Adjustments */
  @media (max-width: 768px) {
    .form-grid {
      grid-template-columns: 1fr;
    }
    
    .search-section {
      flex-direction: column;
      gap: 1rem;
    }
    
    .search-container {
      width: 100%;
    }
    
    .pagination-container {
      flex-direction: column;
      gap: 1rem;
      align-items: stretch;
    }
    
    .pagination-buttons {
      justify-content: center;
    }
  }